<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <% set_meta_tags title: "👑 #{@user.user_nick_name}のプロフィール・おすすめ投稿動画", description: "#{@user.user_nick_name}のプロフィール、フォロー・フォロワー数や、おすすめ動画をご紹介。TikTok（ティックトック）アプリがパソコンでも観れるようになりました！TikTok Webでは人気クリエイターや動画のランキングから人気タグの情報をお届けします！現在、開発中です。" %>
</head>
<body>

<div class="contents_wrap">

  <section class="video_content">
    <div class="video_player">
      <div class="canvas_heart_bubble">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><%= video_tag "", muted: true, controls: true, id:"video", class:"video_0", playsinline: true, autoplay: true %></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

    <% if @videos.present? %>
      <div class="video_content_meta">
        <h3 class="video_title"></h3>
        <div class="video_content_meta_tags">
          <p class="video_content_meta_tag"><a href=""></a></p>

        </div>
        <div class="video_content_meta_info">
          <p class="video_content_meta_info_play">
            <i class="fas fa-heart"></i> <span class="video_play_count"></span>
          </p>

          <p class="video_content_meta_info_comment">
            <i class="fas fa-comment"></i> <span class="video_comment_count"></span>
          </p>
          <p class="video_content_meta_info_share">
            <i class="fas fa-share"></i> <span class="video_share_count"></span>
          </p>
        </div>
      </div>

      <div class="video_content_profile">
        <div class="video_content_profile_image">
          <a class="video_user_covers" href=""><img src="" /></a>
        </div>
        <p class="video_user_nick_name"></p>
      </div>
    <% end %>

  </section>

  <article class="video_content_main">

    <section class="video_content_tag_info">
      <div class="video_content_tag_info_header">
        <figure class="profile_image">
          <%= image_tag @user.user_covers, alt: @user.user_nick_name %>
        </figure>
        <h1><%= @user.user_nick_name %></h1>
      </div>
      <div class="video_content_tag_info_meta">
        <p class="video_content_tag_info_meta_post">
          <%= @user.user_following_count unless @user.user_following_count.nil? %> <span>フォロー</span>
        </p>

        <p class="video_content_tag_info_meta_view">
          <%= @user.user_fans_count unless @user.user_fans_count.nil? %> <span>フォロワー(ファン)</span>
        </p>
        <p class="video_content_tag_info_meta_view">
          <%= @user.user_heart_count unless @user.user_heart_count.nil? %> <span>回いいね</span>
        </p>
      </div>
    </section>

    <section class="video_content_item">
      <h2><i class="fas fa-cookie-bite"></i> <%= @user.user_nick_name %>のおすすめ動画</h2>
      <ul>
        <% if @videos.present? %>
          <% @videos.shuffle.each_with_index do |video, i| %>
            <li>
              <%= image_tag video.video_cover_image, class: "video_data video_index_#{i}", alt: video.video_title,
                            data: {video_source: video.video_url,
                                   video_index: i,
                                   video_title: video.video_title,
                                   video_tags: video.video_tags,
                                   video_play_count: video.video_interaction_count,
                                   video_comment_count: video.video_comment_count,
                                   video_share_count: video.video_share_count,
                                   video_user_covers: video.user.user_covers,
                                   video_user_nick_name: video.user.user_nick_name,
                                   video_user_id: video.user.id,
                            } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>

    <section class="video_content_item_tags">
      <h2><i class="fas fa-cookie-bite"></i> 関連するハッシュタグ</h2>
      <ul>
        <% if @videos.present? %>
          <% @recommend_tags.each do |tag| %>
            <li><%= link_to"##{tag}", search_tags_path(keyword: tag) %></li>
          <% end %>
        <% end %>
      </ul>
    </section>

    <div class="video_content_split_wrap">
      <div>
        <section class="video_content_item_ranking">
          <div class="video_content_item_ranking_header">
            <h2><i class="fas fa-cookie-bite"></i> <%= @user.user_nick_name %>の人気動画ランキング</h2>
          </div>
          <ul>
            <% cache @videos_rank do %>
              <% @videos_rank.each_with_index do |video, index| %>
                <li>
                  <p class="rank_index rank_index_<%= index + 1 %>"><%= index + 1 %></p>
                  <div>
                    <%= link_to image_tag(video.video_cover_image, alt:video.video_title), video.user %>
                  </div>
                  <div>
                    <h3><%= video.video_title %></h3>
                    <div class="video_content_item_ranking_meta">
                      <p><i class="fas fa-heart"></i> <%= video.video_interaction_count %></p>
                      <p><i class="fas fa-comment"></i> <%= video.video_share_count %></p>
                      <p><i class="fas fa-share"></i> <%= video.video_comment_count %></p>
                    </div>
                    <div class="video_content_item_ranking_user">
                      <%= link_to image_tag(video.user.user_covers, alt:video.user.user_nick_name), video.user %>
                      <p><%= video.user.user_nick_name %></p>
                    </div>
                  </div>
                </li>
              <% end %>
              <li class="ranking_more">
                <%#= link_to "もっと見る", ranking_tag_path(@tag) %>
              </li>
            <% end %>

          </ul>
        </section>
      </div>

      <div>
        <section class="video_content_item_transition">
          <h2><i class="fas fa-cookie-bite"></i> <%= @user.user_nick_name %>のフォロワー(ファン)数 推移</h2>
          <% cache @user_histries_posts_trans_fans_count do %>
            <%= line_chart @user_histries_posts_trans_fans_count , xtitle: "日付", ytitle: "総再生回数" %>
          <% end %>
        </section>

        <section class="video_content_item_transition">
          <h2><i class="fas fa-cookie-bite"></i> <%= @user.user_nick_name %>の総いいね数 推移</h2>
          <% cache @user_histries_posts_trans_heart_count do %>
            <%= line_chart @user_histries_posts_trans_heart_count , xtitle: "日付", ytitle: "動画投稿数" %>
          <% end %>
        </section>
      </div>
    </div>


  </article>

</div>

</body>
</html>
