<p id="notice"><%= notice %></p>

<p>
  <strong>User official:</strong>
  <%= @user.user_official_id %>
</p>

<p>
  <strong>User nick named:</strong>
  <%= @user.user_nick_named %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
