<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <% set_meta_tags title: "", description: "TikTok（ティックトック）アプリがパソコンでも観れるようになりました！TikTok Webでは人気クリエイターや動画のランキングから人気タグの情報をお届けします！現在、開発中です。" %>
</head>
<body>

<div class="contents_wrap">

  <section class="video_content">
    <div class="video_player">
      <div class="canvas_heart_bubble">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><%= video_tag "", muted: true, controls: true, id:"video", class:"video_0", playsinline: true, autoplay: true %></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>

    <% if @videos.present? %>
      <div class="video_content_meta">
        <h3 class="video_title"></h3>
        <div class="video_content_meta_tags">
          <p class="video_content_meta_tag"><a href=""></a></p>

        </div>
        <div class="video_content_meta_info">
          <p class="video_content_meta_info_play">
            <i class="fas fa-heart"></i> <span class="video_play_count"></span>
          </p>

          <p class="video_content_meta_info_comment">
            <i class="fas fa-comment"></i> <span class="video_comment_count"></span>
          </p>
          <p class="video_content_meta_info_share">
            <i class="fas fa-share"></i> <span class="video_share_count"></span>
          </p>
        </div>
      </div>

      <div class="video_content_profile">
        <div class="video_content_profile_image">
          <a class="video_user_covers" href=""><img src="" alt=""/></a>
        </div>
        <p class="video_user_nick_name"></p>
      </div>
    <% end %>

  </section>

  <article class="video_content_main">

    <section class="video_content_tag_info">
      <div class="video_content_tag_info_header">

        <%= image_tag('hash_tag.png', alt:"#") %>

        <%# unless @tag.tag_cover_image.nil? %>
        <%#= image_tag @tag.tag_cover_image %>
        <%# else %>
        <%#= image_tag('hash_tag.png') %>
        <%# end %>

        <h1>人気急上昇中のトレンド動画</h1>
      </div>
      <div class="video_content_tag_info_meta">
        <p class="video_content_tag_info_meta_post">
          <!--          <%#= @tag.tag_posts_count unless @tag.tag_posts_count.nil? %> <span>投稿</span>-->
        </p>

        <p class="video_content_tag_info_meta_view">
          <!--          <%#= @tag.tag_views_count unless @tag.tag_views_count.nil? %> <span>回再生</span>-->
        </p>
      </div>
    </section>

    <section class="video_content_item">
      <h2><i class="fas fa-cookie-bite"></i> おすすめ動画</h2>
      <ul>
        <% if @videos.present? %>
          <% @videos.shuffle.each_with_index do |video, i| %>
            <li>
              <%= image_tag video.video_cover_image, class: "video_data video_index_#{i}", alt: video.video_title,
                            data: {
                                   video_source: video.video_url,
                                   video_index: i,
                                   video_title: video.video_title,
                                   video_tags: video.video_tags,
                                   video_play_count: video.video_interaction_count,
                                   video_comment_count: video.video_comment_count,
                                   video_share_count: video.video_share_count,
                                   video_user_covers: video.user.user_covers,
                                   video_user_nick_name: video.user.user_nick_name,
                                   video_user_id: video.user.id,
                            } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>


    <div class="video_content_split_wrap">
      <div>
        <section class="video_content_item_ranking">
          <div class="video_content_item_ranking_header">
            <h2><i class="fas fa-cookie-bite"></i> トレンド動画ランキング(いいね数)</h2>
            <%#= link_to "すべてのランキング", ranking_tag_path(@tag) %>
          </div>
          <ul>
            <% @videos_trend_rank.each_with_index do |video, index| %>
              <li>
                <p class="rank_index rank_index_<%= index + 1 %>"><%= index + 1 %></p>
                <div>
                  <%= link_to image_tag(video.video_cover_image, alt:video.video_title), video.user %>
                </div>
                <div>
                  <h3><%= video.video_title %></h3>
                  <div class="video_content_item_ranking_meta">
                    <p><i class="fas fa-heart"></i> <%= video.video_interaction_count %></p>
                    <p><i class="fas fa-comment"></i> <%= video.video_share_count %></p>
                    <p><i class="fas fa-share"></i> <%= video.video_comment_count %></p>
                  </div>
                  <div class="video_content_item_ranking_user">
                    <%= link_to image_tag(video.user.user_covers, alt:video.user.user_nick_name), video.user %>
                    <p><%= video.user.user_nick_name %></p>
                  </div>
                </div>
              </li>
            <% end %>
            <li class="ranking_more">
              <%#= link_to "もっと見る", ranking_tag_path(@tag) %>
            </li>
          </ul>
        </section>
      </div>
      <div>
        <section class="video_content_item_ranking">
          <div class="video_content_item_ranking_header">
            <h2><i class="fas fa-cookie-bite"></i> すべての動画ランキング(いいね数)</h2>
            <%#= link_to "すべてのランキング", ranking_tag_path(@tag) %>
          </div>
          <ul>
            <% @videos_all_rank.each_with_index do |video, index| %>
              <li>
                <p class="rank_index rank_index_<%= index + 1 %>"><%= index + 1 %></p>
                <div>
                  <%= link_to image_tag(video.video_cover_image, alt:video.video_title), video.user %>
                </div>
                <div>
                  <h3><%= video.video_title %></h3>
                  <div class="video_content_item_ranking_meta">
                    <p><i class="fas fa-heart"></i> <%= video.video_interaction_count %></p>
                    <p><i class="fas fa-comment"></i> <%= video.video_share_count %></p>
                    <p><i class="fas fa-share"></i> <%= video.video_comment_count %></p>
                  </div>
                  <div class="video_content_item_ranking_user">
                    <%= link_to image_tag(video.user.user_covers, alt:video.user.user_nick_name), video.user %>
                    <p><%= video.user.user_nick_name %></p>
                  </div>
                </div>
              </li>
            <% end %>
            <li class="ranking_more">
              <%#= link_to "もっと見る", ranking_tag_path(@tag) %>
            </li>
          </ul>
        </section>
      </div>

    </div>

  </article>

</div>

</body>
</html>
