<!DOCTYPE html>
<html lang="jp">
<head>
  <meta charset="UTF-8">
  <% set_meta_tags title: "「##{@tag.tag_title}」タグの人気動画をウェブで観よう！", description: "「##{@tag.tag_title}」タグの人気動画をウェブで観よう！ - TikTok（ティックトック）アプリがパソコンでも観れるようになりました！TikTok Webでは人気クリエイターや動画のランキングから人気タグの情報をお届けします！現在、開発中です。" %>
</head>
<body>

<div class="contents_wrap">

  <section class="video_content">
    <div class="video_player">
      <div class="canvas_heart_bubble">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><%= video_tag "", muted: true, controls: true, id:"video", class:"video_0", playsinline: true, autoplay: true %></div>
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </div>

    <% if @videos.present? && @videos.first.present? %>
    <div class="video_content_meta">
      <h3 class="video_title"><%= @videos.first.video_title %></h3>
      <div class="video_content_meta_tags">
        <% unless @videos.first.video_tags.nil? %>
          <% @videos.first.video_tags.each do | tag | %>
            <p class="video_content_meta_tag"><%= link_to "##{tag}", search_tags_path(keyword: tag) %></p>
          <% end %>
        <% end %>
      </div>
      <div class="video_content_meta_info">
        <p class="video_content_meta_info_play">
          <i class="fas fa-heart"></i> <span class="video_play_count"><%= @videos.first.video_interaction_count %></span>
        </p>

        <p class="video_content_meta_info_comment">
          <i class="fas fa-comment"></i> <span class="video_comment_count"><%= @videos.first.video_comment_count %></span>
        </p>
        <p class="video_content_meta_info_share">
          <i class="fas fa-share"></i> <span class="video_share_count"><%= @videos.first.video_share_count %></span>
        </p>
      </div>
    </div>

    <div class="video_content_profile">
      <div class="video_content_profile_image">
        <% unless @videos.first.user.nil? %>
           <%= link_to image_tag(@videos.first.user.user_covers), @videos.first.user, class:"video_user_covers" %>
        <% end %>
      </div>
      <p class="video_user_nick_name"><%= @videos.first.user.user_nick_name %></p>
    </div>
  <% end %>

  </section>

  <article class="video_content_main">

    <section class="video_content_tag_info">
      <div class="video_content_tag_info_header">

        <%= image_tag('hash_tag.png') %>

        <%# unless @tag.tag_cover_image.nil? %>
          <%#= image_tag @tag.tag_cover_image %>
        <%# else %>
          <%#= image_tag('hash_tag.png') %>
        <%# end %>

        <h1>#<%= @tag.tag_title unless @tag.tag_title.nil? %></h1>
      </div>
      <div class="video_content_tag_info_meta">
        <p class="video_content_tag_info_meta_post">
          <%= @tag.tag_posts_count unless @tag.tag_posts_count.nil? %> <span>投稿</span>
        </p>

        <p class="video_content_tag_info_meta_view">
          <%= @tag.tag_views_count unless @tag.tag_views_count.nil? %> <span>回再生</span>
        </p>
      </div>
    </section>

    <section class="video_content_item">
      <h2><i class="fas fa-cookie-bite"></i> おすすめ動画</h2>
      <ul>
        <% if @videos.present? %>
          <% @videos.shuffle.take(30).each_with_index do |video, i| %>
            <li>
              <%= image_tag video.video_cover_image, class: "video_data video_index_#{i}",
                            data: {video_source: video.video_url,
                                   video_cover_image: video.video_cover_image,
                                   video_index: i,
                                   video_title: video.video_title,
                                   video_tags: video.video_tags,
                                   video_play_count: video.video_interaction_count,
                                   video_comment_count: video.video_comment_count,
                                   video_share_count: video.video_share_count,
                                   video_user_covers: video.user.user_covers,
                                   video_user_nick_name: video.user.user_nick_name,
                                   video_user_id: video.user.id,
                            } %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </section>


    <div class="video_content_split_wrap">
      <div>
        <section class="video_content_item_ranking">
          <div class="video_content_item_ranking_header">
            <h2><i class="fas fa-cookie-bite"></i> 人気動画ランキング(いいね数)</h2>
            <%= link_to "すべてのランキング", ranking_tag_path(@tag) %>
          </div>
          <ul>
            <% @videos_rank.first(10).each_with_index do |video, index| %>
              <li>
                <p class="rank_index rank_index_<%= index + 1 %>"><%= index + 1 %></p>
                <div>
                  <%= image_tag video.video_cover_image %>
                </div>
                <div>
                    <h3><%= video.video_title %></h3>
                    <div class="video_content_item_ranking_meta">
                      <p><i class="fas fa-heart"></i> <%= video.video_interaction_count %></p>
                      <p><i class="fas fa-comment"></i> <%= video.video_share_count %></p>
                      <p><i class="fas fa-share"></i> <%= video.video_comment_count %></p>
                    </div>
                    <div class="video_content_item_ranking_user">
                      <%= link_to image_tag(video.user.user_covers), video.user %>
                      <p><%= video.user.user_nick_name %></p>
                    </div>
                </div>
              </li>
            <% end %>
            <li class="ranking_more">
              <%= link_to "もっと見る", ranking_tag_path(@tag) %>
            </li>
          </ul>
        </section>
      </div>

      <div>
        <section class="video_content_item_transition">
          <h2><i class="fas fa-cookie-bite"></i> 総再生回数 推移</h2>
          <%= line_chart TagHistory.where(tag_title: @tag.tag_title).pluck(:created_at,:tag_views_count).map { |e| [ e[0].strftime("%Y-%m-%d"), e[1] ] } , xtitle: "日付", ytitle: "総再生回数" %>
        </section>

        <section class="video_content_item_transition">
          <h2><i class="fas fa-cookie-bite"></i> 動画投稿数 推移</h2>
          <%= line_chart TagHistory.where(tag_title: @tag.tag_title).pluck(:created_at,:tag_posts_count).map { |e| [ e[0].strftime("%Y-%m-%d"), e[1] ] } , xtitle: "日付", ytitle: "動画投稿数" %>
        </section>
      </div>
    </div>


  </article>

</div>

</body>
</html>
