<!DOCTYPE html>
<html>
  <head>
    <title>Sample</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header-inner">
        <div class="branding_logo">
          <%= image_tag('tiktok_logo.svg') %>
        </div>


        <%= form_tag("search", method: "get") do %>
          <%= label_tag(:keyword, "Search for:") %>
          <%= text_field_tag(:keyword) %>
          <%= submit_tag("Search") %>
        <% end %>
      </div>
    </header>

    <main>
      <aside>
      </aside>
      <div class="container">
        <section>
          <%= yield %>
        </section>
      </div>
    </main>
  </body>
</html>
