<%= form_with(model: tag_inflow, local: true) do |form| %>
  <% if tag_inflow.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tag_inflow.errors.count, "error") %> prohibited this tag_inflow from being saved:</h2>

      <ul>
      <% tag_inflow.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tag %>
    <%= form.text_field :tag %>
  </div>

  <div class="field">
    <%= form.label :youtube %>
    <%= form.text_field :youtube %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
